body{
background: linear-gradient(135deg, #000000, #191970);
    color: white;
}
#master {
    height: 210px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#main {
    display: flex;
    justify-content: center;
}

#timer {
    border: 4px solid white;
    border-radius: 50%;
    height: 150px; /* Increased height */
    width: 150px; /* Increased width */
    position: relative; /* Added positioning */
}

#timer h5 {
    position: absolute; /* Positioning the h5 absolutely */
    bottom: 0; /* Position it at the bottom */
    width: 100%; /* Make it take full width of the timer */
    text-align: center; /* Center-align the text */
    font-size: 20px;
    padding-bottom: 48px;
}

#main1 {
    display: flex;
    justify-content: center;
}

#btns {
    display: none;
    justify-content: space-between;
    width: 230px;
}
#play-btn{
    display: flex;
    justify-content: center;
    width: 230px;
}
.btn-sm{
    font-size: 10px;
}
.rounded-circle{
    height: 40px;
}
#lap-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

#lap-list li {
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

#lap-list li p {
    margin: 0;
}

#lap-list li p span {
    display: block;
}

#lap-list li p span:first-child {
    font-weight: bold;
}

#lap-list li p span:last-child {
    font-style: italic;
}